.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchApiError {
  color: #b00020;
  font-size: 0.875rem;
  margin: 0.25rem 0;
  width: 50%;
  text-align: center;
}


.app .container {

  display: flex;
  flex-direction: column;
  width: 100%;

}

@media only screen and (min-width: 481px) {
  .app .container {
    flex-direction: row;
    justify-content: space-between;

  }
}
